body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primaryBg-color);
  margin-bottom: 45px;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: var(--font-color);
}

:root {
  --primaryBg-color: hsl(0, 0%, 98%);
  --secondaryBg-color: hsl(0, 0%, 100%);
  --font-color: hsl(200, 15%, 8%);
  --font-color2: #848484;
  --font-size: 16px;
  --font-size2: 14px;
  --box-shadow: 0 0px 6px -4px #808080;
  --border-radius: 4px;
}

[dark-theme="dark"] {
  --primaryBg-color: hsl(207, 26%, 17%);
  --secondaryBg-color: hsl(207, 23%, 22%);
  --font-color: hsl(0, 0%, 100%);
  --box-shadow: 0 0px 6px -4px #080808;
  --font-color2: hsl(0, 0%, 100%);
}

.header {
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;
  background-color: var(--secondaryBg-color);
  box-shadow: var(--box-shadow);
  height: 80px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header__container {
  display: flex;
  padding: 0;
  width: 89.89%;
  align-items: center;
  background-color: var(--secondaryBg-color);
  margin-left: 5.6%;
  margin-left: 5.6%;
}

.theme_switch {
  display: flex;
  margin-left: auto;
  width: 108px;
  height: 22px;
  padding: 0;
}

.theme_switch:hover {
  cursor: pointer;
}

.mode {
  color: var(--font-color);
  border: 0;
  background-color: var(--secondaryBg-color);
  font-size: var(--font-size);
  justify-self: left;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
}

#theme_logo {
  height: 20px;
  width: 19px;
  margin-right: 7px;
  align-self: center;
}

.filter_container {
  display: flex;
  flex-wrap: wrap;
  height: 56px;
  width: 89.89%;
  align-items: center;
  margin-left: 5.6%;
  margin-right: 5.6%;
  margin-top: 48px;
  padding: 0;
}

.search_container {
  flex: 1 0 50%;
  display: flex;
  align-items: center;
  color: var(--font-color2);
  height: 50px;
  border: 0;
  border-radius: var(--border-radius);

  font-size: var(--font-size);
}
.search_button {
  display: flex;
  align-items: center;
  color: var(--font-color);
  height: 50px;
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--secondaryBg-color);
  font-size: var(--font-size2);
  box-shadow: var(--box-shadow);
  padding: 0;
  margin: 0;
  width: 480px;
  height: 100%;
  margin-bottom: 2px;
  text-align: left;
  margin-right: auto;
}
.search_button > svg {
  height: 15px;
  width: 15px;
  margin: 0;
  margin-left: 32px;
  padding: 0;
}

.search_bar {
  color: var(--font-color);
  border: 0;
  background-color: var(--secondaryBg-color);
  font-size: var(--font-size2);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 30px;
  margin-left: 27px;
}
input:focus {
  outline: none;
}
::placeholder {
  color: var(--font-color2);
  opacity: 1;
}
.button_container {
  flex: 1 0 10%;
  display: block;
  border-radius: var(--border-radius);
  height: 56px;
}

.filter_button {
  display: flex;
  align-items: center;
  color: var(--font-color);
  height: 50px;
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--secondaryBg-color);
  font-size: var(--font-size2);
  box-shadow: var(--box-shadow);
  padding: 0;
  margin: 0;
  width: 200px;
  height: 100%;
  margin-bottom: 2px;
  text-align: left;
  padding-left: 24px;
  padding-right: 18px;
  margin-left: auto;
}
.filter_button:hover {
  cursor: pointer;
}
.filter_text {
  margin-right: 0px;
}
.filter_button > svg {
  height: 12px;
  width: 12px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.dropdown_content {
  background-color: var(--secondaryBg-color);
  font-size: var(--font-size);
  color: var(--font-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  display: block;
  text-align: left;
  height: 164px;
  width: 200px;
  position: relative;
  margin-left: auto;
}

li {
  list-style: none;
}

li:hover {
  cursor: pointer;
  color: rgb(150, 149, 149);
}

#africa,
#asia,
#america,
#europe,
#oceania {
  height: 20px;
  width: fit-content;
  margin-bottom: 7.5px;
  margin-left: 24px;
  padding: 0;
}

#africa {
  padding-top: 16px;
}

.card_container {
  /* display: grid;
  /* grid-template-columns: 290px repeat(auto-fit, 264px);
  grid-template-columns: repeat(auto-fill, [row-start] 263px [row-end]); */
  display: flex;
  flex-wrap: wrap;
  width: 89.89%;
  margin-top: 20px;
  margin-left: 5.6%;
  margin-right: 5.6%;
  margin-top: 48px;
  border-radius: 3px;
  /* gap: 5.848%;
  row-gap: 4.69em; */
  justify-content: space-between;
  gap: 5.8%;
  row-gap: 75px;
}

.card {
  display: block;
  width: 264px;
  height: 336px;
  border-radius: 3px;
  background-color: var(--secondaryBg-color);
  color: var(--font-color);
  box-shadow: var(--box-shadow);
}
.card:hover {
  cursor: pointer;
}
.flag {
  width: 264px;
  height: 160px;
  border-radius: 3px 3px 0 0;
  background-color: #808080;
}

.flag > img {
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0 0;
}

.country-details {
  text-align: left;
  margin-left: 24px;
  padding: 0;
}

.country_name {
  width: 77px;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 16px;
}

.country_name > p {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.country_info {
  text-align: left;
  padding: 0;
  margin: 0;
  width: 149px;
  height: 64px;
}

.country_info > div {
  margin-bottom: 5px;
  font-size: 14px;
}

.spaceShift {
  width: 264px;
}


@media only screen  and (max-width: 375px) {
  .header__container {
    margin-left: 4.5%;
    width: 91%;
    margin-right: 4.5%;
  }
  
  h1 {
    font-size: 14px;
    height: 20px;
  }
  .theme_switch {
    width: 88px;
    height: 17px;
  }
  
  .mode {
    font-size: 12px;
    text-align: none;
  }
  #theme_logo {
    height: 16px;
    width: 16px;
  }
  .filter_container {
    margin-top: 25px;
    gap: 39px;
    height: 48px;
    width: 91%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    
  }
  .search_container {
    height: 48px;
    flex: 1 0 auto;
    background-color: var(--secondaryBg-color);
    box-shadow: var(--box-shadow);
 
  }
  .search_button {
    margin-right: 0px;
    box-shadow: none;
    width: 200px;
  }
  .search_button > svg {
    height: 16px;
    width: 16px;
 
  }
  .search_bar{
    font-size: 12px;
  }
  ::placeholder {
    color: var(--font-color2);
    opacity: 1;
    font-size: 12px;
  }
  .filter_button {
    margin-left: 0px;
    height: 48px;
    font-size: 12px;
  }
  .button_container {
    flex: 1 0 auto;
    height: 48px;
  }

  .card_container {
    justify-content: center;
    margin-top: 119px;
    margin-left: 4.5%;
    margin-right: 4.5%;
  }
  .dropdown_content {
    margin-left: 0;
    font-size: 12px;
  }
}




@media only screen and (min-width: 376px) and (max-width: 479px) {

  h1 {
    font-size: 24px;
  }
  .theme_switch {
    width: 88px;
  }
  
  .mode {
    font-size: 12px;
    text-align: none;
  }
  #theme_logo {
    height: 16px;
    width: 16px;
  }
  .filter_container {
    margin-top: 25px;
    gap: 39px;
    height: 48px;
    width: 90%;
  }
  .search_container {
    height: 48px;
    flex: 1 0 auto;
    background-color: var(--secondaryBg-color);
    box-shadow: var(--box-shadow);
  }
  .search_button {
    margin-right: 0px;
    box-shadow: none;
    width: 300px;
  }

  .filter_button {
    margin-left: 0px;
    height: 48px;
  }
  .button_container {
    flex: 1 0 auto;
    height: 48px;
  }

  .card_container {
    justify-content: center;
    margin-top: 119px;
  }
  .dropdown_content {
    margin-left: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 609px) {
  .filter_container {
    margin-top: 25px;
    gap: 39px;
    height: 48px;
    width: 90%;
  }
  .search_container {
    height: 48px;
    flex: 1 0 auto;
    background-color: var(--secondaryBg-color);
    box-shadow: var(--box-shadow);
  }
  .search_button {
    margin-right: 0px;
    box-shadow: none;
    width: 300px;
  }

  .filter_button {
    margin-left: 0px;
    height: 48px;
  }
  .button_container {
    flex: 1 0 auto;
    height: 48px;
  }

  .card_container {
    justify-content: center;
    margin-top: 119px;
  }
  .dropdown_content {
    margin-left: 0;
  }
}

@media only screen and (min-width: 610px) and (max-width: 772px) {
  .search_button {
    width: 84%;
  }

  .card_container {
    /* display: grid;
    /* grid-template-columns: 290px repeat(auto-fit, 264px);
    grid-template-columns: repeat(auto-fill, [row-start] 263px [row-end]); */

    /* gap: 5.848%;
    row-gap: 4.69em; */
    justify-content: space-between;
    gap: 1%;
    row-gap: 75px;
  }
}
